.updiv{
    width: 750px;
    height: 235px;
    background-color: #2d7053;
}
.onediv{
    float: left;
    width: 179px;
    height: 235px;
}
.threediv{
    float: right;
    width: 212px;
    height: 235px;
}
.twodiv{
    height: 235px;
    width: 359px;
    float: left; 
}
.container.btn{
    position: absolute;
    top: 345px;
    left: 262px;
    width: 341px;
    height: 74;
    background-color:#cb9223;
}
.divup {
    width: 750px;
    height: 320px;
    background-color: #ffffff;
}
.divone {
    float: left ;
    width: 335px;
    height: 320px;
}
.divtwo{
    float: left ;
    width: 415px;
    height: 320px;
}
.wrapper{
    width: 750px;
}
.container{
    width: 750px;
    height: 153px;
    float: left ;
    background-color: #888888;
}
.container1{
    float: left ;
    width: 300px;
    height: 153px;
}
.container2{
    float: left ;
    width: 225px;
    height: 153px;
}
.container3{
    width: 225px;
    height: 153px;
    float: left ;
}
ul{
    list-style: none;
}
.lishka1{
    line-height: 1.8;
}

.ulitka1{
    list-style: none;
    margin-top: 84px;
}

.ulitka2{
    list-style: none;
    margin-top: 110px;
}
.lishka2{
    line-height:3.5 ;
}
.cabinet{
    background-image: url(/Кабинет.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 750px;
    height: 467px;
    float: left;
}
.knopka1{
    width: 341px;
    height: 74px;
    background-color: #cb9223;
    margin-top: 345px;
    margin-left: 205px;
}
.knopka2{
    height: 122px;
}
.knopka3{
    width: 341px;
    height: 74px;
    background-color: #cb9223;
    margin-left: 205px;
}












